.cv-card {

    margin-bottom: 1.5rem;
    display: flex;

    .time-stamp {
        position: relative;
        top: 1rem;
        left: 25%;
    }

    .data {
        position: relative;
        left: 30%;

        * {
            text-align: left;
        }


        .title {
            color: blue;
            font-family: 'Times New Roman', Times, serif;
            font-weight: 900;
            font-size: 2rem;
        }

        .subtitle {
            color: gray;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-weight: 500;
        }
    }
}